body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
.about {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;

}
.center-image{
    display: block;
    padding-bottom: 1.6rem;
    text-align: center;
     margin-bottom: 2rem;
}

